*
{
    margin: 0;
    padding: 0;
}

body
{
    /* overflow: auto; */
    background-color: #eee;
    align-items: center;
    background: ;
    overflow-y: hidden;
}

.body-dark
{
    overflow: hidden;
    background-color: #333;
    align-items: center;
}

.header
{
    margin: auto;
    width: 100%;
    height: auto;
    background: #aaa;
    position: sticky;
    top: 0;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    transition: all 0.5s;
}

.header::before, .header::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px 50px;
    /* background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff000069); */
    background: linear-gradient(45deg, #000, #555, #aaa, #fff);
    z-index: -1;
    transform: scale(1);
    background-size: 500%;
    animation: anim 20s linear infinite;
}

@keyframes anim
{
    0%, 100% {background-position: 0 0;}
    50% {background-position: 300% 0;}
}

.header::after
{
    filter: blur(10px);
}

nav
{
    background-color: #000;
    color: #fff;
    border-radius: 0px 0px 50px 50px;

}

nav ul li
{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin-left: 2px;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
}

nav ul li a:hover
{
    color: #aaa;
}

nav img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.card
{
    width: 98%;
    height: 500px;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #111;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.card-dark
{
    width: 98%;
    height: 500px;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px #111;
    background-color: #99999955;
    text-align: center;
    color: #eee;
}

.card .name
{
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
}

.desc
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-top: 20px;

}

/* Rounded sliders */

.check
{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 50px;
    top: 20px;
}

#icon
{
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
  
#icon:hover
{
    color: #9999ff;
}

footer
{
    position: absolute;
    bottom: -130px;
    height: 180px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    width: 100%;
    border-radius: 50px 50px 0 0;
    transition: all 0.5s;
}

footer::before, footer::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0 0;
    /* background: linear-gradient(45deg, #000, #555, #aaa, #fff); */
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff000069);
    z-index: -1;
    transform: scale(1);
    background-size: 500%;
    animation: anim 20s linear infinite;
}

@keyframes anim
{
    0%, 100%{background-position: 0 0;}
    50%{background-position: 300% 0;}
}

footer::after
{
    filter: blur(10px);
}



footer p
{
    margin-left: 20px;
    margin-top: 15px;
}

.bars
{
    text-align: center;
    font-size: 1em;
    padding: 5px;
 
    animation: anim 20s linear infinite;
}

@keyframes anim
{
    0%, 100%{background-position: 0 0;}
    50%{background-position: 300% 0;}
}

.bars:hover
{
    color: #0ff;
}

.f-content-left
{
    margin-bottom: 20px;
    margin-left: 20px;
    width: auto;
    float: left;
}

.f-content-right
{
    margin-top: 50px;
    margin-right: 50px;
    width: auto;
    float: right;
}

.f-content-right ul li
{
    display: inline;
    margin: 10px;
    font-size: 2em;
    float:right;
    vertical-align: middle;
}

.f-content-right ul li a
{
    text-decoration: none;
    color: inherit;
}

.contact-head
{
    font-size: 2em;
}

footer p a
{
    text-decoration: none;
    color: inherit;
}

footer p a:hover
{
    color: #aaa;
}

#name
{
    font-size: 2em;
}

.github:hover
{
    background: -webkit-linear-gradient(#6cc644, #6cc644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin:hover
{
    background: -webkit-linear-gradient(#0e76a8, #0e76a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insta:hover
{
    background: (#d6249f);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}