<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Revant Kansara'a Portfolio Website.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--  -->
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">

        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="script.js"></script>

        <title>Revant Kansara</title>
        
    </head>
    <body ng-app="myApp">

        <div id="overlay" class="">
            <div id="progstat"></div>
            <div id="progress"></div>
        </div>

        <header id="home">
            <span class="name-h" id="name-h">
                <p class="typewrite" data-period="2000" 
                    data-type='[ "Hello", "नमस्ते", "Bonjour", "Hola", "&lt;&nbsp;Hello&nbsp;World!&nbsp;&gt;" ]'>
                    <span class="wrap"></span>
                </p>
            </span>
            <div class="scroll">
                <div class="arrow">&#10097;</div>
            </div>
        </header>

        <nav class="navbar navbar-inverse" role="navigation" aria-label="main menu">
            <div class="container-fluid">
            <div id="page-wrap">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="img/l1.png" alt="">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#stack">Projects</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
            </div>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </nav>

        <!-- <div id="page-wrap"> -->
        <div class="main" id="about">
            <div class="container-fluid">
                <div style="height: 10vh;"></div>
                <div class="row about">
                    <div id="page-wrap">
                        <div class="col-lg-5 card card-c">
                            <img src="img/me.png" alt="Revant Kansara's Profile Photo" class="img-me">
                        </div>
                        
                        <div class="col-lg-7 card intro">
                            <h1>Revant Kansara</h1>
                            <span class="subtitle">IT Fresher | &#x1F1EE;&#x1F1F3;</span>
                            <hr>
                            <p>
                                I am an IT Engineer, and yes I can help you with your computer, printer and router setup too. 
                                I know a litte bit about <strong>Ethical Hacking</strong> too, but I won't hack an FB or Insta account for you; because it is <em>"Un-Ethical"</em>.
                            </p>
                            <p> Things I can do:</p>
                            <div class="container-fluid intrests-c">
                                <div class="col-md-4 intrests">System Setup</div>
                                <div class="col-md-4 intrests">System Configuration</div>
                                <div class="col-md-4 intrests">Migrating to Cloud</div>
                                <div class="col-md-4 intrests">Web Development</div>
                                <div class="col-md-4 intrests">Penetration Testing</div>
                                <div class="col-md-4 intrests">Troubleshooting</div>
                                <div class="col-md-4 intrests">Debugging</div>
                            </div>

                            <br>
                            Things that excites me:
                            <div class="container-fluid intrests-c">
                                <div class="col-md-4 intrests">Computers</div>
                                <div class="col-md-4 intrests">Programming</div>
                                <div class="col-md-4 intrests">Wildlife</div>
                                <div class="col-md-4 intrests">Sci-Fi</div>
                            </div>
                            
                            <a href="Resume_Revant_Kansara.pdf" download="Resume_Revant_Kansara.pdf" target="_blank" rel="noreferrer">
                                <button class="resume">
                                    Resume
                                    <i class="fa fa-download"></i>
                                </button>
                            </a>
                        </div>
                        
                        <div class="col-lg-12 card badges">
                            <!-- Badge: Introduction To Cybersecurity -->
                            <a href="https://www.credly.com/badges/6496113d-caa3-4db3-a2c6-3e0fced873fd/public_url">
                                <img class="Badge" id="b-green" src="badges/introduction-to-cybersecurity.png" alt="Introduction To Cybersecurity Badge" class="Badge">
                            </a>

                            <!-- Badge: Networking Essentials -->
                            <a href="https://www.credly.com/badges/876896c9-2da1-48e5-9a94-b4e64a6247ab/public_url">
                                <img class="Badge" id="b-blue" src="badges/networking-essentials.png" alt="Networking Essentials Badge" class="Badge">
                            </a>

                            <!-- Badge: Cybersecurity Essentials -->
                            <a href="https://www.credly.com/badges/4e4eb06f-f67f-4892-8370-4c98ce6d87d9/public_url">
                                <img class="Badge" id="b-green" src="badges/cybersecurity-essentials.png" alt="Cybersecurity Essentials Badge" class="Badge">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <div id="page-wrap"> -->
                <div class="row" ng-controller="techController">
                    <div id="page-wrap">
                        <div class="col-lg-4 col-xs-12 techStack card">
                            <span class="techTitle">My TechStack</span>
                            <hr>
                            <div class="col-xs-3 tech" ng-repeat="tech in technologies">
                                <a href="{{ tech.link }}" target="_blank" rel="noreferrer">
                                    <img ng-src="{{ tech.img }}" alt="{{ tech.name }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xs-12 projectStack card" id="stack">
                            <span class="projectTitle">Projects</span>
                            <hr>
                            
                            <div class="col-lg-4 project">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <span class="p-title">Ripe&nbsp;Unripe</span>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>
                                                An effort to classify fruits using Machine Learning and Computer Vision. A tech which can be used with Drones and Robots for Automation.
                                            </p>
                                            <br><br>
                                            <p class="project-link">
                                                <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9432349&isnumber=9432069" target="_blank" rel="noreferrer">
                                                    More Details <i style="font-size:inherit;" class="fa">&#xf08e;</i>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 project">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <span class="p-title">iSense</span>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>IoT based project, combined with Android Application, to check if your teacher available at the desk. No it's not that creepy; no photo or video streaming involved in the process.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 project">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <span class="p-title">MegaByte Website</span>
                                        </div>
                                        <div class="flip-card-back">
                                            <p>A website for IT Department newsletter. A full responsive website, compatible with any screen size; but still not as good. May it needs to be redesigned.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row certificates" id="certificates">
                    <div id="page-wrap">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval='3000'>

                            <center>
                                <div class="carousel-inner">
                                
                                    <div class="item active">
                                        <img src="cert/IT_Automation.png" alt="Google IT Automation with Python">
                                    </div>
                            
                                    <div class="item">
                                        <img src="cert/IT_Support.png" alt="Google IT Support">
                                    </div>
        
                                    <div class="item">
                                        <img src="cert/Migrating_to_GC.png" alt="Migrating to Google Cloud">
                                    </div>
                            
                                    <div class="item">
                                        <img src="cert/EHv1.jpg" alt="Ethical Hacking">
                                    </div>
        
                                    <div class="item">
                                        <img src="cert/NDG_Linux_Unhatched.png" alt="NDG Linux Unhatched">
                                    </div>
        
                                    <div class="item">
                                        <img src="cert/NDG_Linux Essent.png" alt="NDG Linux Essentials">
                                    </div>
        
                                    <div class="item">
                                        <img src="cert/msExcel.png" alt="Microsoft Office Specialist - Excel 2013">
                                    </div>
            
                                </div>
                            </center>
                        
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
        
                            <div class="col-lg-12">
                                <!-- Indicators -->
                                <!-- <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol> -->
                            </div>
                            
                        </div>
                    </div> 
                </div>
                
                <div class="row contact" id="contact">
                    <div id="page-wrap">
                        <div class="col-lg-12 card-c">
                            <span class="c-title">
                                Get Connected..
                                <i class="fa fa-wifi"></i>
                            </span>
                            <hr>
                        </div>
        
                        <div class="col-lg-4 col-md-12 col-xs-12 social">
                            <p>
                                <i class="fas fa-map-marker-alt"></i> 
                                Palghar, Maharashtra, India
                            </p>
                        </div>
        
                        <div class="col-lg-4 col-md-12 col-xs-12 social">
                            <p>
                                <i id="env" class="fa fa-envelope"></i>
                                <a href="mailto:revantkansara01@gmail.com">revantkansara01@gmail.com</a>
                            </p>
                        </div>
        
                        <div class="col-lg-4 col-md-12 col-xs-12 card-c social" ng-controller="socialController">
                            <ul>
                                <li ng-repeat="sm in socialMedia">
                                    <a href="{{ sm.link }}" target="_blank" rel="noreferrer"><i class="{{ sm.class }}"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </body>
</html>