*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: auto;
    background-color: #eee;
    align-items: center;
}

.header
{
    margin: auto;
    width: 100%;
    height: auto;
    background: #aaa;
    position: sticky;
    top: 0;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    transition: all 0.5s;
}

.header::before, .header::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px 50px;
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff000069);
    z-index: -1;
    transform: scale(1);
    background-size: 500%;
    animation: anim 20s linear infinite;
}

@keyframes anim
{
    0%, 100% {background-position: 0 0;}
    50% {background-position: 300% 0;}
}

.header::after
{
    filter: blur(10px);
}

nav
{
    background-color: #000;
    color: #fff;
    border-radius: 0px 0px 50px 50px;

}

nav ul li
{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin-left: 2px;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
}

nav ul li a:hover
{
    color: #aaa;
}

nav img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.card
{
    width: 98%;
    height: 500px;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #111;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.card .name
{
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

.desc
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-top: 20px;

}

/* Rounded sliders */

.check
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    position: absolute;
    right: 100px;
    top: 20px;
}

.switch
{
    width: 50px;
    height: 22px;
    border-radius: 11px;
    position: absolute;
    margin-left: 10px;
}

.switch input
{ 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
    content: "\f093";
}

.slider:before
{
    position: absolute;
    content: "\f093";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #1670b9;
}

input:focus + .slider {
box-shadow: 0 0 1px #1670b9;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}

.slider.round:before
{
    border-radius: 50%;
}

.fa
{
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
  
.fa:hover
{
    color: #ccc;
}