@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    color: #fff;
    scroll-behavior: smooth;
}

body
{
    background: #111111;
    padding: 0;
    margin: 0;
    text-align: center;
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-track
{
    background: #000; 
}

::-webkit-scrollbar-thumb
{
    background: #888;
    border-radius: 50px; 
}

::-webkit-scrollbar-thumb:hover
{
    background: #555; 
}

#overlay
{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
    transition: 1s 0.4s;
}

#progress
{
    height: 1px;
    background: #fff;
    position: absolute;
    width: 0;
    top: 50%;
}

#progstat
{
    font-size: 0.7em;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.name-h
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

header
{
    background-color: #000;
    background-image: url("img/IMG_8608.jpg");
    min-height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-atachment: fixed;
    background-position: center !important;
    background-size: cover !important;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.scroll
{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: #fff;
    cursor: pointer;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

.arrow
{
    font-size: 3vw;
    transform: rotate(-90deg);
}

.navbar
{
    position: sticky;
    top: 0;
    border-radius: 0;
    z-index: 1000;
    text-align: left;
    max-width: 1200;
    margin: 0 auto;
}

/* .container-fluid
{
    max-width: 1200px;
} */
.navbar-brand img
{
    height: 2vw;
    width: 2vw;
    position: absolute;
    /* top: 50%;
    transform: translate(-10%, -50%); */
}

.progress-container
{
    width: 100%;
    height: 5px;
}

.progress-bar
{
    height: inherit;
    background-image: linear-gradient(to right,#500, #a00, #f00);
    width: 0%;
}

#page-wrap
{
    text-align: left;
    max-width: 1200px;
    margin: 0 auto
}

.main
{
    padding: 7px;
}

.about
{
    padding: 10px;
}

.row
{
    padding: 5px;
    background-color: rgb(200, 200, 200, 0.1);
    margin-top: 10px;
    border-radius: 20px;
}

.card
{
    border-radius: 20px;
    padding: 25px;
    /* border: 1px solid #fff; */
}

.card-c
{
    text-align: center;
}

.about
{
    font-size: 16px;
}

.about h1
{
    font-size: 5rem;
    font-family: 'Crimson Text', serif;
}

.img-me
{
    border: 1px solid #fff;
    border-radius: 10%;
    height: 20vw;
    width: 20vw;
    background-color: #fff;
    margin: 20px 0;
}

.intro ul
{
    margin: 10px 20px;
    font-size: inherit;
}

.intro p
{
    font-size: inherit;
    text-align: justify;
    text-justify: inter-word;
}

.intrests-c
{
    padding: 0;
    margin: 0;
}

.intrests
{
    width: auto;
    padding: 8px 16px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(85, 85, 85, 0.3);
}

.resume
{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #285AEB;
    padding: 10px 16px;
    color: #fff;
    margin-top: 20px;
}

.resume:hover
{
    box-shadow: 0 0 5px #fff;
    border: 2px solid #fff;
}

.fa-download
{
    color: #285AEB;
}

.badges
{
    height: 150px;
    width: 150px;
    border-radius: 15px 15px 10px;
}

.badges:hover
{
    box-shadow: 0 0 10px #333, 0 0 5px #0f1; 
}

.techStack
{
    padding: 20px 0px;
    text-align: center;
}

.techTitle
{
    font-size: 3rem;
}

.tech
{
    margin: 10px 0;
    padding: 0;
}

.tech img
{
    height: 80px;
    width: 80px;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 10px;
    padding: 5px;
}

.tech img:hover
{
    box-shadow: 0 0 10px #ccc, 0 0 10px #333;
}

.projectStack
{
    padding: 20px 10px;
    text-align: center;
}

.projectTitle
{
    font-size: 3rem;
    color: #fff;
}

.project
{
    padding: 5px;
    margin-top: 5px;
}

.flip-card
{
    background-color: transparent;
    width: 100%;
    height: 20em;
    perspective: 1000px;
}

.flip-card-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(250,250,250,0.5);
}

.flip-card:hover .flip-card-inner
{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front
{
    background-color: #bbb;
    
}

.p-title
{
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.flip-card-back
{
    background-color: rgba(100, 100, 100, 1);
    color: white;
    padding: 10px;
    transform: rotateY(180deg);
}

.flip-card-back p
{
    text-align: left;
    text-justify: inter-cluster;
    font-size: 16px;
}

.certificates
{
    padding: 20px;
}

.carousel-inner .item img
{
    height: 30vw;
    width: 40vw;
}

.carousel-control
{
    border-radius: 20px;
    width: auto;
}


.contact
{
    background-color: transparent;
    margin-bottom: 50px;
}

.c-title
{
    font-size: 22px;
}

.fa-wifi
{
    transform: rotate(45deg);
    color: #0e76a8;
}

.contact p
{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: #fff;
}

.contact p a
{
    color: #fff;
}

.contact p a:hover
{
    color: #aaa;
}

#name
{
    font-size: 2em;
}

.social
{
    text-align: center;
    font-size: 2em;
}

.social ul
{
    list-style-type: none;
}

.social ul li
{
    display: inline;
    margin: 10px;
}

.github:hover
{
    background: -webkit-linear-gradient(#6cc644, #6cc644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin:hover
{
    background: -webkit-linear-gradient(#0e76a8, #0e76a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insta:hover
{
    background: (#d6249f);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(15px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1;}
}

/* Media Queries */

@media screen and (max-width: 1500px)
{
    #page-wrap
    {
        max-width: 1000px;
        text-align: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px)
{
    .img-me{ height: 400px; width: 400px; }
    #page-wrap
    {
        max-width: 800px;
        text-align: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px)
{
    /* .name-h{font-size: 10vh;} */
    .arrow{font-size: 5vh;}
    .navbar-brand img{height: 5vh; width: 5vh;}
    .nav li a{color: #fff;}
    .float-b, .float-b-d{height: 5vh; width: 5vh;}
    .img-me{height: 350px; width: 350px;}
    .tech{padding: 0;}
    .tech img{height: 70px; width: 70px; padding: 0;}
    .space{display: block;}
    ::-webkit-scrollbar{ all: unset; }
    ::-webkit-scrollbar-thumb{ all: unset; }
    ::-webkit-scrollbar-thumb{ all: unset; }
    .carousel-inner .item img
    {
        height: 30vh;
        width: 50vh;
    }

    .github
    {
        background: -webkit-linear-gradient(#6cc644, #6cc644);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .linkedin
    {
        background: -webkit-linear-gradient(#0e76a8, #0e76a8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .insta
    {
        background: (#d6249f);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #page-wrap
    {
        max-width: 600px;
        text-align: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px)
{
    #page-wrap
    {
        max-width: 600px;
        text-align: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px)
{
    /* .name-h{top: 50%; font-size: 10vw;} */
    .arrow{font-size: 5vh;}
    .navbar-brand img{height: 5vh; width: 5vh;}
    .nav li a{color: #fff;}
    .float-b, .float-b-d{height: 5vh; width: 5vh;}
    .float-i, .float-i-d{font-size: 4vh;}
    .img-me{height: 200px; width: 200px;}
    .badges{height: 100px; width: 100px;}
    .tech{padding: 0;}
    .tech img{height: 70px; width: 70px; padding: 0;}
    .space{display: block;}
    ::-webkit-scrollbar{ all: unset; }
    ::-webkit-scrollbar-thumb{ all: unset; }
    ::-webkit-scrollbar-thumb{ all: unset; }
    .github
    {
        background: -webkit-linear-gradient(#6cc644, #6cc644);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .linkedin
    {
        background: -webkit-linear-gradient(#0e76a8, #0e76a8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .insta
    {
        background: (#d6249f);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}