*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: auto;
    background-color: #999;
}

h1
{
    text-align: center;
}

.header
{
    margin: auto;
    width: 100%;
    height: 80px;
    background: #aaa;
    position: relative;
    align-items: center;
    border-radius: 0 0 50px 50px;
    transition: all 0.5s;
}

.header::before, .header::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px 50px;
    background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff000069);
    z-index: -1;
    transform: scale(1);
    background-size: 500%;
    animation: anim 20s linear infinite;
}

@keyframes anim
{
    0%, 100% {background-position: 0 0;}
    50% {background-position: 300% 0;}
}

.header::after
{
    filter: blur(10px);
}

/* #btn
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    outline: none;
    cursor: pointer;
    color: #fff;
}

#btn::before
{
    font-weight: 900;
    color: #f1f1c1;
}

ul
{
    color: rgb(95, 95, 95);
    font-weight: 700;
    font-family: cursive;
    text-decoration: none;
}

ul li
{
    display: inline-block;
}

ul li a
{
    text-decoration: none;
    
    color: #eee;
}

a:hover
{
    color: #f1f1f196;
}

ul li a
{
    margin: 10px;   
} */

/* .main
{
    top: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    overflow-y: scroll;
}

nav
{
    color: #eee;
    background-color: #333333;
    width: 100%;
    height: 100px;
    padding-top: 80px;
}

.circle img
{
    position: relative;
    left: 20px;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.main .content
{
    position: relative;
    color: #111;
} */