*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{
    background: #000;
    padding: 0;
    margin: 0;
}

header
{
    background-image: url("img/IMG_8608.jpg");
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    top: 0;
}

.bg-h
{
    position: relative;
    max-width: 100%;
    opacity: 0.7;
    filter: blur(5px) grayscale(1);
    -webkit-filter: blur(5px) grayscale(1);
    -moz-filter: blur(5px) grayscale(1);
    -o-filter: blur(5px) grayscale(1);
    -ms-filter: blur(5px) grayscale(1);
    width: 100vw;
    height: 100vh;
}

.name-h
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.main
{
    height: 1000px;
}

.scroll
{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: #fff;
    cursor: pointer;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

.arrow
{
    font-size: 3vw;
    transform: rotate(-90deg);
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(15px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1;}
}

@media screen and (max-width: 800px)
{
    /* .name-h{font-size: 10vh;} */
    .arrow{font-size: 5vh;}
}

@media screen and (max-height: 500px)
{
    /* .name-h{top: 50%; font-size: 10vw;} */
    .arrow{font-size: 5vh;}
}